InvestmentCaseStudy/images.png
InvestmentCaseStudy/companies.csv
InvestmentCaseStudy/TablueaPlot/Tabluea_plotting/3-1.jpg
InvestmentCaseStudy/TablueaPlot/Tabluea_plotting/2_1.jpg
InvestmentCaseStudy/TablueaPlot/Tabluea_plotting/1_1.jpg
InvestmentCaseStudy/TablueaPlot/Part_2/Sheet 1.jpg
InvestmentCaseStudy/TablueaPlot/Part_2/3-1.jpg
InvestmentCaseStudy/TablueaPlot/Book1.twbx
InvestmentCaseStudy/TablueaPlot/3_1.jpg
InvestmentCaseStudy/TablueaPlot/2_1.jpg
InvestmentCaseStudy/TablueaPlot/1_1.jpg
InvestmentCaseStudy/Investments_30_Jan.xlsx
InvestmentCaseStudy/Investments.xlsx
InvestmentCaseStudy/Investment Case Study_31_Jan.R
InvestmentCaseStudy/Investment Case Study_30_Jan.R
InvestmentCaseStudy/Investment Case Study.R
InvestmentCaseStudy/FinalReports_v2/Spark Funds Presentation.pptx
InvestmentCaseStudy/FinalReports_v2/Spark Funds Presentation.pdf
InvestmentCaseStudy/FinalReports_v2/Investments Final.xlsx
InvestmentCaseStudy/FinalReports_v2/Consolidated_InvestmentCaseStudy.R
InvestmentCaseStudy/FinalReports_v2/3_1.jpg
InvestmentCaseStudy/FinalReports_v2/2_1.jpg
InvestmentCaseStudy/FinalReports_v2/1_1.jpg
InvestmentCaseStudy/FinalReports/Tabluea_plotting/3-1.jpg
InvestmentCaseStudy/FinalReports/Tabluea_plotting/2_1.jpg
InvestmentCaseStudy/FinalReports/Tabluea_plotting/1_1.jpg
InvestmentCaseStudy/FinalReports/Spark Funds Presentation.pptx
InvestmentCaseStudy/FinalReports/Spark Funds Presentation.pdf
InvestmentCaseStudy/FinalReports/Microsoft PowerPoint - Spark Funds Presentation.pdf
InvestmentCaseStudy/FinalReports/Investments Final.xlsx
InvestmentCaseStudy/FinalReports/Consolidated_InvestmentCaseStudy.R
InvestmentCaseStudy/FinalReport.zip
InvestmentCaseStudy/Consolidated_InvestmentCaseStudy.R
InvestmentCaseStudy/.Rhistory
InvestmentCaseStudy/.RData
India_Air_Quality_Data/data.csv
India_Air_Quality_Data/airquality_backed.csv
India_Air_Quality_Data/airquality.csv
India_Air_Quality_Data/RCommandFile.R
India_Air_Quality_Data/IndianAirQualityData.twbx
India_Air_Quality_Data/.Rhistory
India_Air_Quality_Data/.RData
